In [31]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from joblib import dump,load
from sklearn import metrics


pd.options.display.float_format = '{:.2f}'.format
np.set_printoptions(suppress=True)
pd.options.display.max_columns = None

In [32]:
bod = pd.read_csv("../Capstone_project/BOD_test.csv")

In [33]:
bod

     Id    1    2    3    4     5    6     7
0     1 6.80 5.40  NaN  NaN   NaN  NaN   NaN
1     2 4.71 4.20  NaN  NaN   NaN  NaN   NaN
2    32 2.10 3.40  NaN  NaN   NaN  NaN   NaN
3    40 5.35 5.85  NaN  NaN   NaN  NaN   NaN
4    43 4.80 5.30  NaN  NaN   NaN  NaN   NaN
..  ...  ...  ...  ...  ...   ...  ...   ...
58  206 5.80 6.60 1.75 5.30 15.10 4.60 15.60
59  209 3.68 4.85  NaN  NaN   NaN  NaN   NaN
60  210 7.50 4.80  NaN  NaN   NaN  NaN   NaN
61  215 8.00 6.80  NaN  NaN   NaN  NaN   NaN
62  216 4.00 5.00  NaN  NaN   NaN  NaN   NaN

[63 rows x 8 columns]

In [34]:
bod.isna().sum()

Id     0
1      0
2      0
3     48
4     48
5     47
6     49
7     49
dtype: int64

In [35]:
bod['3'].fillna(bod['3'].mean(), inplace=True)
bod['4'].fillna(bod['4'].mean(), inplace=True)
bod['5'].fillna(bod['5'].mean(), inplace=True)
bod['6'].fillna(bod['6'].mean(), inplace=True)
bod['7'].fillna(bod['7'].mean(), inplace=True)

In [36]:
bod.set_index('Id', inplace=True)

In [37]:
bod

       1    2    3    4     5    6     7
Id
1   6.80 5.40 4.44 6.05  7.56 4.20  5.19
2   4.71 4.20 4.44 6.05  7.56 4.20  5.19
32  2.10 3.40 4.44 6.05  7.56 4.20  5.19
40  5.35 5.85 4.44 6.05  7.56 4.20  5.19
43  4.80 5.30 4.44 6.05  7.56 4.20  5.19
..   ...  ...  ...  ...   ...  ...   ...
206 5.80 6.60 1.75 5.30 15.10 4.60 15.60
209 3.68 4.85 4.44 6.05  7.56 4.20  5.19
210 7.50 4.80 4.44 6.05  7.56 4.20  5.19
215 8.00 6.80 4.44 6.05  7.56 4.20  5.19
216 4.00 5.00 4.44 6.05  7.56 4.20  5.19

[63 rows x 7 columns]

In [38]:
bod.dtypes

1    float64
2    float64
3    float64
4    float64
5    float64
6    float64
7    float64
dtype: object

In [39]:
input_cols = bod.columns

In [40]:
input_cols

Index(['1', '2', '3', '4', '5', '6', '7'], dtype='object')

## outlier

In [41]:
model_ee = load("../model_objects/BOD_outlier.joblib")
bod['anomaly_score'] = model_ee.predict(bod[input_cols])
ee_index = list(bod[bod['anomaly_score']==-1].index)

In [42]:
len(ee_index)

4

In [43]:
bod.drop(ee_index, inplace=True)

In [44]:
bod.shape

(59, 8)

In [45]:
del bod['anomaly_score']

In [46]:
bod.head()

      1    2    3    4    5    6    7
Id
1  6.80 5.40 4.44 6.05 7.56 4.20 5.19
2  4.71 4.20 4.44 6.05 7.56 4.20 5.19
32 2.10 3.40 4.44 6.05 7.56 4.20 5.19
40 5.35 5.85 4.44 6.05 7.56 4.20 5.19
43 4.80 5.30 4.44 6.05 7.56 4.20 5.19

In [47]:
sc = load("../model_objects/BOD_standard.joblib")
sc_bod = pd.DataFrame(sc.transform(bod[input_cols]),columns=input_cols,index=bod.index)
sc_bod.head()

       1     2     3    4     5    6    7
Id
1   0.88  0.26 -0.23 0.39 -0.68 0.46 1.86
2  -0.13 -0.36 -0.23 0.39 -0.68 0.46 1.86
32 -1.39 -0.77 -0.23 0.39 -0.68 0.46 1.86
40  0.18  0.49 -0.23 0.39 -0.68 0.46 1.86
43 -0.08  0.21 -0.23 0.39 -0.68 0.46 1.86

In [48]:
bod.drop(columns = input_cols, inplace=True)

In [49]:
bod = pd.concat([bod,sc_bod], axis=1)
bod

        1     2     3     4     5     6     7
Id
1    0.88  0.26 -0.23  0.39 -0.68  0.46  1.86
2   -0.13 -0.36 -0.23  0.39 -0.68  0.46  1.86
32  -1.39 -0.77 -0.23  0.39 -0.68  0.46  1.86
40   0.18  0.49 -0.23  0.39 -0.68  0.46  1.86
43  -0.08  0.21 -0.23  0.39 -0.68  0.46  1.86
46  -0.25 -0.61 -0.23  0.39 -0.68  0.46  1.86
53   0.22 -0.27 -0.23  0.39 -0.68  0.46  1.86
60  -0.49 -0.59  3.17  1.52 -2.92  0.46  1.86
61  -0.06 -0.72 -0.23  0.39 -0.68  0.46  1.86
68   0.69  0.93 -1.34  2.04 -2.21  0.46  1.86
71   1.12 -0.41 -1.20 -2.43 -0.68  0.46  1.86
74  -0.49  0.24 -0.23  0.39 -0.68  0.46  1.86
78   0.03 -0.55 -0.23  0.39  3.33  0.46  1.86
81   0.35 -0.87 -0.23  0.39 -0.68  1.14  1.86
84  -0.76 -1.08 -0.53 -1.17 -0.68  0.46  1.86
85   0.59 -0.31 -0.23  0.39 -2.00  1.00  1.86
88  -0.44  0.06 -0.74 -1.11 -3.04 -1.51  0.47
89   2.19  2.84 -0.23  0.39 -0.68  0.46  1.86
92   0.35  0.52 -0.23  0.39 -0.68  0.46  1.86
94  -0.90 -0.10 -0.23  0.39 -0.68  0.46  1.86
95   0.30  0.52 -0.23  0.39 -3.87 -1.58 -2.67
97  -0.90 -0.05  0.25  0.66  1.77  1.15  0.49
100 -0.18  0.83 -0.23  0.39 -0.68  0.46  1.86
101  2.14  1.29 -0.23  0.39 -0.68  0.46  1.86
104 -1.10 -0.82 -0.23  0.39 -0.68  0.46  1.86
106  0.64  1.09 -0.23  0.39 -0.68  0.46  1.86
113 -0.32 -0.82  6.60  4.49 -0.23 -1.61  2.27
115 -0.68 -0.41 -0.23  0.39 -0.68  0.46  1.86
119  0.46 -0.21 -0.23  0.39 -0.68  0.46  1.86
123 -0.47 -0.05 -0.23  0.39 -0.68  0.46  1.86
126  0.32 -0.77 -0.23  0.39 -0.68  0.46  1.86
127 -0.41 -1.19 -0.23  0.39 -1.52  0.46  1.86
129 -1.00 -0.36 -0.23  0.39 -0.68  0.46  1.86
135 -0.95  0.80 -0.23  0.39 -0.68  0.46  1.86
136  0.30 -1.19 -0.23  0.39 -0.68  0.46  1.86
138 -0.71 -0.36 -0.23  0.39 -0.68  0.46  1.86
139 -0.76 -0.28 -0.67 -0.72 -2.76  0.73  0.43
140  2.14  0.16 -2.66  0.99 -0.68  0.46 -0.15
144 -0.28  0.52 -0.23  0.39 -0.68  0.46  1.86
152 -0.45 -0.12 -0.23  0.39 -0.68  0.46  1.86
155  0.93  0.83 -2.93 -4.11 -3.28 -1.95 -1.60
156 -2.10 -2.20 -0.23  0.39 -0.68  0.46  1.86
164  0.88  0.67 -0.23  0.39 -0.68  0.46  1.86
167  1.25  0.06 -0.23  0.39 -0.68  0.46  1.86
168 -0.85 -1.13 -0.23  0.39 -0.68 -0.49  1.44
175 -0.08  0.11 -1.60 -2.69 -4.01 -0.90 -0.87
177  2.33  1.55 -0.23  0.39 -0.68  0.46  1.86
180 -0.23  0.26 -0.23  0.39 -0.68  0.46  1.86
182  0.88  0.78 -0.23  0.39 -0.68  0.46  1.86
185 -0.23 -0.25 -1.47  7.69  7.86  0.46  2.14
188  0.98  0.88 -0.23  0.39 -0.68  0.46  1.86
190 -0.37  0.67 -0.23  0.39 -0.68  0.46  1.86
193  1.65 -0.10 -0.23  0.39 -0.68  0.46  1.86
195 -0.73 -0.68 -0.23  0.39 -0.68  0.46  1.86
200  1.03  1.21 -0.23  0.39 -0.68  0.46  1.86
209 -0.62 -0.02 -0.23  0.39 -0.68  0.46  1.86
210  1.22 -0.05 -0.23  0.39 -0.68  0.46  1.86
215  1.46  0.98 -0.23  0.39 -0.68  0.46  1.86
216 -0.47  0.06 -0.23  0.39 -0.68  0.46  1.86

## Predictions

In [50]:
best_model = load("../model_objects/BOD_best_model.joblib")

In [51]:
pred = best_model.predict(bod)

In [52]:
pred

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0,
       0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0])

In [53]:
bod['target'] = pred

In [29]:
bod

        1     2     3     4     5     6     7  target
Id
1    0.88  0.26 -0.23  0.39 -0.68  0.46  1.86       1
2   -0.13 -0.36 -0.23  0.39 -0.68  0.46  1.86       0
32  -1.39 -0.77 -0.23  0.39 -0.68  0.46  1.86       0
40   0.18  0.49 -0.23  0.39 -0.68  0.46  1.86       0
43  -0.08  0.21 -0.23  0.39 -0.68  0.46  1.86       0
46  -0.25 -0.61 -0.23  0.39 -0.68  0.46  1.86       0
53   0.22 -0.27 -0.23  0.39 -0.68  0.46  1.86       0
60  -0.49 -0.59  3.17  1.52 -2.92  0.46  1.86       0
61  -0.06 -0.72 -0.23  0.39 -0.68  0.46  1.86       0
68   0.69  0.93 -1.34  2.04 -2.21  0.46  1.86       0
71   1.12 -0.41 -1.20 -2.43 -0.68  0.46  1.86       0
74  -0.49  0.24 -0.23  0.39 -0.68  0.46  1.86       0
78   0.03 -0.55 -0.23  0.39  3.33  0.46  1.86       0
81   0.35 -0.87 -0.23  0.39 -0.68  1.14  1.86       0
84  -0.76 -1.08 -0.53 -1.17 -0.68  0.46  1.86       0
85   0.59 -0.31 -0.23  0.39 -2.00  1.00  1.86       0
88  -0.44  0.06 -0.74 -1.11 -3.04 -1.51  0.47       0
89   2.19  2.84 -0.23  0.39 -0.68  0.46  1.86       1
92   0.35  0.52 -0.23  0.39 -0.68  0.46  1.86       0
94  -0.90 -0.10 -0.23  0.39 -0.68  0.46  1.86       0
95   0.30  0.52 -0.23  0.39 -3.87 -1.58 -2.67       0
97  -0.90 -0.05  0.25  0.66  1.77  1.15  0.49       0
100 -0.18  0.83 -0.23  0.39 -0.68  0.46  1.86       0
101  2.14  1.29 -0.23  0.39 -0.68  0.46  1.86       1
104 -1.10 -0.82 -0.23  0.39 -0.68  0.46  1.86       0
106  0.64  1.09 -0.23  0.39 -0.68  0.46  1.86       0
113 -0.32 -0.82  6.60  4.49 -0.23 -1.61  2.27       0
115 -0.68 -0.41 -0.23  0.39 -0.68  0.46  1.86       0
119  0.46 -0.21 -0.23  0.39 -0.68  0.46  1.86       0
123 -0.47 -0.05 -0.23  0.39 -0.68  0.46  1.86       0
126  0.32 -0.77 -0.23  0.39 -0.68  0.46  1.86       0
127 -0.41 -1.19 -0.23  0.39 -1.52  0.46  1.86       0
129 -1.00 -0.36 -0.23  0.39 -0.68  0.46  1.86       0
135 -0.95  0.80 -0.23  0.39 -0.68  0.46  1.86       0
136  0.30 -1.19 -0.23  0.39 -0.68  0.46  1.86       0
138 -0.71 -0.36 -0.23  0.39 -0.68  0.46  1.86       0
139 -0.76 -0.28 -0.67 -0.72 -2.76  0.73  0.43       0
140  2.14  0.16 -2.66  0.99 -0.68  0.46 -0.15       0
144 -0.28  0.52 -0.23  0.39 -0.68  0.46  1.86       0
152 -0.45 -0.12 -0.23  0.39 -0.68  0.46  1.86       0
155  0.93  0.83 -2.93 -4.11 -3.28 -1.95 -1.60       0
156 -2.10 -2.20 -0.23  0.39 -0.68  0.46  1.86       0
164  0.88  0.67 -0.23  0.39 -0.68  0.46  1.86       0
167  1.25  0.06 -0.23  0.39 -0.68  0.46  1.86       0
168 -0.85 -1.13 -0.23  0.39 -0.68 -0.49  1.44       0
175 -0.08  0.11 -1.60 -2.69 -4.01 -0.90 -0.87       0
177  2.33  1.55 -0.23  0.39 -0.68  0.46  1.86       1
180 -0.23  0.26 -0.23  0.39 -0.68  0.46  1.86       0
182  0.88  0.78 -0.23  0.39 -0.68  0.46  1.86       0
185 -0.23 -0.25 -1.47  7.69  7.86  0.46  2.14       0
188  0.98  0.88 -0.23  0.39 -0.68  0.46  1.86       0
190 -0.37  0.67 -0.23  0.39 -0.68  0.46  1.86       0
193  1.65 -0.10 -0.23  0.39 -0.68  0.46  1.86       0
195 -0.73 -0.68 -0.23  0.39 -0.68  0.46  1.86       0
200  1.03  1.21 -0.23  0.39 -0.68  0.46  1.86       1
209 -0.62 -0.02 -0.23  0.39 -0.68  0.46  1.86       0
210  1.22 -0.05 -0.23  0.39 -0.68  0.46  1.86       0
215  1.46  0.98 -0.23  0.39 -0.68  0.46  1.86       1
216 -0.47  0.06 -0.23  0.39 -0.68  0.46  1.86       0

In [54]:
bod['target'].value_counts()

0    50
1     9
Name: target, dtype: int64